<nav>
    <ul>
        <li><a href="<%= basePath || '' %>/">Home</a></li>
        <li><a href="<%= basePath || '' %>/client">Clients</a></li>
        <li><a href="<%= basePath || '' %>/email">Bulk Email</a></li>
        <% if (user) { %>
            <li><a href="<%= basePath || '' %>/auth/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="<%= basePath || '' %>/auth/google">Log In</a></li>
        <% } %>
    </ul>
</nav>
